{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		<li style="background-image: url(images/hero3.jpg);">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						<h2 class="heading-section">Quem Somos</h2>
						<p class="fh5co-lead">Quem são as pessoas responsáveis por trás de tanto Charmé e Beleza</p>
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<i class="sl-icon-home"></i>
				<h2>Charmé Acessórios</h2>
			</div>
		</div>
        <div class="row">
            <img src="{% static 'images/loja.jpg' %}" style="width: 100%">
        </div>
        <div class="row" style="padding-top: 10px">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique mattis nunc, vehicula interdum ligula pellentesque in. Ut molestie mauris et condimentum bibendum. Suspendisse potenti. Nullam euismod, risus vel congue tempor, nibh ligula efficitur tortor, non blandit ante massa in mi. Duis id posuere ipsum. Quisque vitae mauris vulputate, vulputate purus eget, gravida odio. Nulla bibendum placerat erat, eget facilisis nibh lobortis ac. Morbi ullamcorper justo ex, non porttitor purus sodales a. In a felis vel neque vehicula euismod ut at magna. In dapibus auctor quam, sodales sollicitudin libero vestibulum quis. Proin dolor nisl, vulputate a ullamcorper id, dignissim sed turpis. In placerat est ac lectus cursus, ut lobortis mauris pharetra.

Pellentesque a magna eget ligula tincidunt facilisis. Pellentesque eu velit in turpis congue ultrices sed quis enim. Nulla facilisi. Nullam egestas pretium velit a sollicitudin. Sed hendrerit tellus ac arcu semper pretium. Proin congue risus lobortis, pretium neque id, congue massa. Nam orci erat, tempus at pharetra vel, vehicula sit amet dui. Cras viverra risus justo, at mattis dui ornare in. Aliquam nunc nunc, interdum a turpis eget, auctor elementum est. Mauris quis molestie elit, in eleifend urna. Suspendisse sed mi faucibus, venenatis eros mattis, vulputate mauris. Fusce pulvinar augue vel egestas blandit. Nulla euismod pulvinar metus vel hendrerit. Proin dictum ullamcorper mattis. Nullam vitae lectus a dolor placerat accumsan. In a faucibus dolor.</p>
        </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<i class="sl-icon-people"></i>
				<h2>Equipe</h2>
				<p>Quem são as pessoas responsáveis por trás de tanto Charmé e Beleza. </p><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center">
				<div class="about-wrap">
					<div class="about">
						<img src="{% static 'images/fernando.jpg' %}" alt="">
					</div>
					<div class="desc">
						<h3>Luiz Fernando</h3>
						<p class="pos">Idealizador</p>
						<p>Nascido na cidade de sjc - sp. Formado em gestão empresarial e entusiasta em tecnologia. Idealizou a marca Charme Todo Dia e gerencia sua evolução nas redes sociais..</p>
						<p class="fh5co-social-icons">
							<a href="#"><i class="icon-twitter2"></i></a>
							<a href="#"><i class="icon-facebook2"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
							<a href="#"><i class="icon-dribbble2"></i></a>
							<a href="#"><i class="icon-youtube"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div class="about-wrap">
					<div class="about">
						<img src="{% static 'images/tamara.jpg' %}" alt="">
					</div>
					<div class="desc">
						<h3>Tamara Gomes</h3>
						<p class="pos">Idealizadora</p>
						<p>Nascida na cidade de São José dos campos - sp. Blogueira, extrovertida e bem humorada. Apaixonada pela moda e seus segmentos. Responsável pela criação de conteúdo da marca para a web.</p>
						<p class="fh5co-social-icons">
							<a href="#"><i class="icon-twitter2"></i></a>
							<a href="#"><i class="icon-facebook2"></i></a>
							<a href="#"><i class="icon-instagram"></i></a>
							<a href="#"><i class="icon-dribbble2"></i></a>
							<a href="#"><i class="icon-youtube"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

