{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- START #fh5co-hero -->
    <aside id="fh5co-hero" class="fh5co-hero-header-about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fh5co-hero-wrap">
                       <!-- <div class="fh5co-hero-intro">
                                <h2>Sua dose diária<span></span></h2>
                                <h1>Charmé Todo Dia</h1>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div id="fh5co-main">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="fh5co-uppercase-heading-sm text-center">Quem somos?</h2>
                </div>
                <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
                    <h1 class="h1 fh5co-heading fh5co-no-margin-bottom">Charmé Todo Dia</h1>
                    <h4 class="h5 fh5co-heading-sub">Quem são as pessoas por trás de tanta beleza?</h4>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">

                <div class="col-md-12">

                    <div id="fh5co-tab-feature-center-store" class="fh5co-tab text-center">
                        <ul class="resp-tabs-list hor_1">
                            <li><i class="fh5co-tab-menu-icon ti-home"></i>Loja</li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="h3">Loja Charmé Acessórios</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{% static 'images/loja.jpg' %}" width="100%" class="about-images"/>
                                    </div>
                                    <div class="col-md-6 about-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac orci nec ipsum semper sodales vitae id elit. Maecenas venenatis est at enim posuere suscipit. Nulla sed convallis sem. Donec ultrices varius felis, in tincidunt justo rutrum eget. Nam malesuada mi tincidunt felis auctor cursus. Praesent mattis lobortis accumsan. Sed elementum enim a lacinia dignissim. Morbi pretium velit quam, ut dictum leo tristique et. Cras non nibh nulla. Cras convallis maximus dui, nec pellentesque metus accumsan vitae. Pellentesque vitae magna magna. Maecenas euismod congue luctus.</p>
                                        <p>Curabitur ipsum lorem, auctor a felis ornare, tempus sollicitudin est. Aliquam semper neque placerat justo malesuada lobortis. Fusce aliquet bibendum aliquam. Proin a neque pulvinar, lacinia ligula aliquam, ultrices sem. Proin lobortis interdum enim at elementum. Aliquam volutpat interdum mauris, at volutpat arcu venenatis vel. Vivamus vestibulum ligula id ipsum congue sollicitudin. Aenean vel ante sit amet arcu aliquam rutrum eu at arcu. Proin mauris mauris, ullamcorper eget maximus gravida, venenatis eget odio. Aliquam ex neque, finibus nec faucibus sed, sollicitudin eget lectus. Praesent lacinia sodales lacus, ac posuere enim eleifend sed. Curabitur eu vulputate velit. Maecenas eleifend arcu nec felis rhoncus pharetra. Aenean viverra dui a leo hendrerit vulputate. Aenean vulputate sapien ut varius maximus. Morbi porttitor urna risus, vel aliquet justo dictum elementum.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="fh5co-spacer fh5co-spacer-sm">

                <div class="col-md-12">

                    <div id="fh5co-tab-feature-center-team" class="fh5co-tab text-center">
                        <ul class="resp-tabs-list hor_1">
                            <li><i class="fh5co-tab-menu-icon ti-user"></i>Equipe</li>
                        </ul>
                        <div class="resp-tabs-container hor_1">
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="h3">Idealizadores</h2>
                                    </div>
                                    <div class="col-md-5 about-text">
                                        <h2 class="h3">Luiz Fernando</h2>
                                        <img src="{% static 'images/fernando.jpg' %}" width="100%" class="about-images"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis deserunt dolorem, debitis cupiditate nihil velit dolores, inventore voluptatem delectus quos atque similique natus eaque qui, nisi repudiandae dolore sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aut maxime eius magnam. Ipsa qui consequatur laborum culpa recusandae ullam repellendus, quod cum nemo consequuntur quidem labore minima dignissimos, eum!</p>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5 about-text">
                                        <h2 class="h3">Tamara Gomes</h2>
                                        <img src="{% static 'images/tamara.jpg' %}" width="100%" class="about-images"/>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga illum necessitatibus consequuntur aspernatur omnis quidem ut, similique esse assumenda.</p>
                                    </div>
                                </div>

                                <div class="fh5co-spacer fh5co-spacer-sm"></div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="h3">Revendedores</h2>
                                    </div>
                                    <div class="col-md-3 about-text">
                                        <h2 class="h3">Revendedor 1</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quis deserunt dolorem, debitis cupiditate nihil velit dolores, inventore voluptatem delectus quos atque similique natus eaque qui, nisi repudiandae dolore sit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum aut maxime eius magnam. Ipsa qui consequatur laborum culpa recusandae ullam repellendus, quod cum nemo consequuntur quidem labore minima dignissimos, eum!</p>
                                    </div>
                                    <div class="col-md-3 about-text">
                                        <h2 class="h3">Revendedor 2</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga illum necessitatibus consequuntur aspernatur omnis quidem ut, similique esse assumenda.</p>
                                    </div>
                                    <div class="col-md-3 about-text">
                                        <h2 class="h3">Revendedor 3</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga illum necessitatibus consequuntur aspernatur omnis quidem ut, similique esse assumenda.</p>
                                    </div>
                                    <div class="col-md-3 about-text">
                                        <h2 class="h3">Revendedor 4</h2>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio voluptatem, vitae nesciunt ad hic quam quisquam sit possimus officia ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ex. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga illum necessitatibus consequuntur aspernatur omnis quidem ut, similique esse assumenda.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="fh5co-spacer fh5co-spacer-sm">
                <!-- END Tabs -->
            </div>
        </div>
    </section>
{% endblock %}