{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight" style="background: rgba(0, 0, 0, 0.4)">
		<ul class="slides">
		<li style="background-image: url({{vitrines.link_vitrine_about}});">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						{% if vitrines.titulo_vitrine_about %}
							<h2 class="heading-section">{{vitrines.titulo_vitrine_about}}</h2>
							{% if vitrines.sub_titulo_vitrine_about %}
								<p class="fh5co-lead">{{vitrines.sub_titulo_vitrine_about}}</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-about-section" style="margin-top: 3em; margin-bottom: 2em">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<i class="sl-icon-home"></i>
				<h2>Charmé Acessórios - Loja Sul</h2>
			</div>
		</div>
        <div class="row">
            <img src="{% static 'images/loja.jpg' %}" style="width: 100%">
        </div>
        <div class="row" style="padding-top: 20px; text-align: justify">
            <p>
				A loja Charmé Acessórios foi criada pensando nas mulheres que gostam de estar na moda por um preço acessível, e ao mesmo tempo desenvolver um espaço convidativo e aconchegante para receber a todos. A loja foi inaugurada no mês de junho de 2016 e trabalha com diversos tipos de acessórios, principalmente bijuterias. Toda semana chegam novidades que seguem a tendência do momento, e mensalmente são feitas promoções exclusivas. É ou não é um sonho de loja? Não deixe de nos visitar e conhecer nossos produtos. O endereço é Avenida Andromeda, 1462, Jardim Satélite - sjc. Horário de funcionamento: seg a sex das 9:30 às 18:00 e sábados das 9:30 às 13:00.
			</p>
        </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Charmé Todo Dia - Loja Norte</h2>
			</div>
		</div>
        <div class="row">
            <img src="{% static 'images/loja2.jpg' %}" style="width: 100%">
        </div>
        <div class="row" style="padding-top: 20px; text-align: justify">
            <p>
				A loja Charmé Todo Dia foi criada pensando nas mulheres que gostam de estar na moda por um preço acessível, e ao mesmo tempo desenvolver um espaço convidativo e aconchegante para receber a todos. A loja foi inaugurada no mês de junho de 2016 e trabalha com diversos tipos de acessórios, principalmente bijuterias. Toda semana chegam novidades que seguem a tendência do momento, e mensalmente são feitas promoções exclusivas. É ou não é um sonho de loja? Não deixe de nos visitar e conhecer nossos produtos. O endereço é Avenida Andromeda, 1462, Jardim Satélite - sjc. Horário de funcionamento: seg a sex das 9:30 às 18:00 e sábados das 9:30 às 13:00.
			</p>
        </div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<i class="sl-icon-people"></i>
				<h2>Equipe</h2>
				<p>Conheça os responsáveis pelo desenvolvimento da CHARMÉ</p><br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 text-center">
				<div class="about-wrap">
					<div class="about">
						<img src="{% static 'images/fernando.jpg' %}" alt="">
					</div>
					<div class="desc">
						<h3>Luiz Fernando</h3>
						<p class="pos">Idealizador</p>
						<p>Nascido na cidade de São José dos Campos - SP. Formado em gestão empresarial e entusiasta em tecnologia. Idealizou a marca Charme Todo Dia e gerencia sua evolução nas redes sociais.</p>
						<p class="fh5co-social-icons">
							<a href="https://www.facebook.com/nandodivino" target="_blank"><i class="icon-facebook2"></i></a>
							<a href="https://www.instagram.com/nandodivino/" target="_blank"><i class="icon-instagram"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-center">
				<div class="about-wrap">
					<div class="about">
						<img src="{% static 'images/tamara.jpg' %}" alt="">
					</div>
					<div class="desc">
						<h3>Tamara Gomes</h3>
						<p class="pos">Idealizadora</p>
						<p>Nascida na cidade de São José dos Campos - SP. Blogueira, extrovertida e bem humorada. Apaixonada pela moda e seus segmentos. Responsável pela criação de conteúdo da marca para a web.</p>
						<p class="fh5co-social-icons">
							<a href="https://www.facebook.com/tamara.gomes.1004837?pnref=lhc" target="_blank"><i class="icon-facebook2"></i></a>
							<a href="https://www.instagram.com/charmetododia/" target="_blank"><i class="icon-instagram"></i></a>
							<a href="https://www.youtube.com/charmetododia/" target="_blank"><i class="icon-youtube"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

