{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		<li style="background-image: url({{vitrines.link_vitrine_blog}});">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						{% if vitrines.titulo_vitrine_blog %}
							<h2 class="heading-section">{{vitrines.titulo_vitrine_blog}}</h2>
							{% if vitrines.titulo_vitrine_blog %}
								<p class="fh5co-lead">{{vitrines.sub_titulo_vitrine_blog}}</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-blog-section" style="margin-top: 3em">
	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="row-posts">
					<div class="row-fields-posts">
						<h2 class="post-title">{{ post.title }}</h2>
						<p>Enviado por {{ post.author.name }} em {{ post.created_date|date:"d/m/y" }}</p>
					</div>
					<div class="row-fields-posts">
						<img src="{{ post.imagem }}" width="100%" height="400px"/>
					</div>
					{% if post.video %}
						<div class="row-fields-posts">
							<iframe width="560" height="315" src="{{ post.video }}" frameborder="0" allowfullscreen></iframe>
						</div>
					{% endif %}
					<div class="row-fields-posts">
						<p>{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}