{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		<li style="background-image: url(/static/images/capa_blog.jpg);">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						<h2 class="heading-section">Blog</h2>
						<!--<p class="fh5co-lead">Designed with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>-->
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-blog-section" style="margin-top: 3em">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<i class="sl-icon-note"></i>
				<h2>Bem vindo ao Blog da Tamara Gomes</h2>
				<p>Confira aqui as últimas postagens do Blog da Tamara Gomes.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9">
				{% for post in posts %}
					<div class="blog-inner">
						<a href="{% url 'blog-post' post.id %}"><h3>{{ post.title }}</h3></a>
							<p>Enviado por {{ post.author.name }} em {{ post.created_date|date:"d/m/y" }}</p>
						<div class="image">
							<a href="{% url 'blog-post' post.id %}"><img src="{{ post.imagem }}" width="100%" height="300px"/></a>
						</div>
						<div class="desc desc2">
							<p>{{ post.brief_body }}</p>
							<p><a href="{% url 'blog-post' post.id %}" class="btn btn-primary btn-luxe-primary">Ver mais</a></p>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-md-3">
				<h3>Todos os posts do Blog:</h3>
				{% for post in posts %}
					<a href="{% url 'blog-post' post.id %}"><p><small>{{ post.created_date|date:"d/m/y" }} - {{ post.title }}</small></p></a>
				{% endfor %}
			</div>
		</div>
		<div class="pagination">
			<span class="step-links">
				{% if posts.has_previous %}
					<a href="?page={{ novidades.previous_page_number }}">Mais Recentes</a>
				{% endif %}
				<span class="current">
					Página {{ posts.number }} de {{ posts.paginator.num_pages }}
				</span>
				{% if posts.has_next %}
					<a href="?page={{ posts.next_page_number }}">Mais antigas</a>
				{% endif %}
			</span>
		</div>
	</div>
</div>
{% endblock %}