<footer id="fh5co-footer">
    <div class="container">

        <ul class="fh5co-social-icons">
            <li><a href="#"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-youtube"></i></a></li>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
        </ul>
        <p class="fh5co-no-margin-bottom text-center">Develop by Luiz Felipe do Divino - <a href="https://www.linkedin.com/in/luizdivino" target="_blank">linkedin</a></p>
        <p class="fh5co-no-margin-bottom text-center"><small>&copy; 2015 <a href="#">Display</a>. All rights reserved. Crafted with love <em>by</em> <a href="http://freehtml5.co" target="_blank">FREEHTML5.co</a> <br> Images by <a href="http://unsplash.com/" target="_blank">Unsplash</a></small></p>

    </div>
</footer>