{% load static %}
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="copyright">
                    <p><small>Desenvolvido por Luiz Felipe do Divino - <a href="https://www.linkedin.com/in/luizdivino" target="_blank">linkedin</a></small></p>
                    <p><small>Layout por &copy; 2016 <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a></small></p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <h3>Nossa Empresa</h3>
                        <ul class="link">
                            <li><a href="{% url 'about' %}">sobre a CHARMÉ</a></li>
                            <li><a href="{% url 'about' %}">Sobre Nós</a></li>
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Inscrição</h3>
                        <p>Cadastre seu e-mail para receber as novidades da CHARMÉ em primeira mão</p>
                        <form action="#" id="form-subscribe">
                            <div class="form-field">
                                <input type="email" placeholder="Endereço de Email" id="email">
                                <input type="submit" id="submit" value="Enviar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/charmetododia" target="_blank"><i class="icon-facebook-with-circle"></i></a>
                        <a href="https://www.instagram.com/charmetododia/" target="_blank"><i class="icon-instagram-with-circle"></i></a>
                        <a href="https://www.youtube.com/charmetododia/" target="_blank"><i class="icon-youtube-with-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>