{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
			{% for imagem in imagens_slideshow %}
				<li style="background-image: url({{imagem.link_imagem}});">
					<div class="overlay-gradient"></div>
					<div class="container">
						<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</aside>
<div id="fh5co-section">
	<div class="col-half col-half-color">
		<div class="row-half">
			{% for newest_post in newest_posts %}
				<a href="{% url 'novidade-post' newest_post.id %}" class="col-half-inner grid-item" style="background-image: url({{ newest_post.imagem_vitrine }});">
					<div class="desc2">
						<h3>{{ newest_post.title }}</h3>
						<span>{{ newest_post.brief_body }}</span>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
	<div class="col-half col-half-2">
		<h2>Conheça a CHARMÉ</h2>
		<div class="featured-inner">
			<div class="row">
				<div class="col-md-2" style="padding: 30px">
					<img src="{% static 'images/moda.png' %}" style="width: 100%;">
				</div>
				<div class="col-md-10">
					<div class="desc">
						<h3>Moda</h3>
						<p>A CHARMÉ está sempre por DENTRO da moda, e você nao fica de FORA! Aqui tem tudo do que é moda e TENDÊNCIA, no Brasil e no mundo, para você ficar sempre LIGADINHA nas novidades.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="featured-inner">
			<div class="row">
				<div class="col-md-2" style="padding: 30px">
					<img src="{% static 'images/acessorios.png' %}" style="width: 100%;">
				</div>
				<div class="col-md-10">
					<div class="desc">
						<h3>Acessórios</h3>
						<p>Está na dúvida sobre qual ACESSÓRIO usar com aquele seu LOOK? Vai sair com aquela roupa BAPHO e não sabe qual acessório combinar? Aqui damos dicas de como montar seu look completo para você CAUSAR sem medo!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="featured-inner">
			<div class="row">
				<div class="col-md-2" style="padding: 30px">
					<img src="{% static 'images/entretenimento.png' %}" style="width: 100%;">
				</div>
				<div class="col-md-10">
					<div class="desc">
						<h3>Entretenimento</h3>
						<p>Você sabia que além do blog a CHARMÉ também está nas redes sociais? É só procurar por "charmetododia" no Facebook, Instagram, Youtube e no Snapchat! Nos acompanhe e fique por dentro das NOVIDADES, em qualquer lugar que você estiver, seja pelo computador ou pelo celular.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
<div id="fh5co-portfolio-section">
	<div class="portfolio-row-half">
		<div class="portfolio-grid-item-color">
			<div class="desc">
				<h2>Mais Novidades</h2>
				<p>Confira aqui as últimas novidades da Charmé Acessórios!</p>
				<p><a href="{% url 'novidades' %}" class="btn btn-primary btn-outline with-arrow">Ver mais<i class="icon-arrow-right22"></i></a></p>
			</div>
		</div>
        {% for post in posts %}
            <a href="{% url 'novidade-post' post.id %}" class="portfolio-grid-item" style="background-image: url({{ post.imagem_vitrine }});">
                <div class="desc2">
                    <h3>{{ post.title }}</h3>
                    <span>{{ post.brief_body }}</span>
                    <i class="sl-icon-heart"></i>
                </div>
            </a>
        {% endfor %}
		<div class="portfolio-grid-item-color-men" style="background-color: #000; color: #fff;">
			<div class="desc">
				<h2>Charme Men</h2>
				<p>Confira aqui as novidades da linha para Homens!</p>
				<p><a href="{% url 'novidades' %}" class="btn btn-primary btn-outline with-arrow">Ver mais<i class="icon-arrow-right22"></i></a></p>
			</div>
		</div>
		{% for men_post in men_posts %}
            <a href="{% url 'novidade-post' men_post.id %}" class="portfolio-grid-item-men" style="background-color: #000; color: #fff; background-image: url({{ men_post.imagem_vitrine }});">
                <div class="desc2">
                    <h3>{{ men_post.title }}</h3>
                    <span>{{ men_post.brief_body }}</span>
                    <i class="sl-icon-heart"></i>
                </div>
            </a>
        {% endfor %}
	</div>
</div>
<div class="fh5co-parallax fh5co-parallax2" style="background-image: url(/static/images/hero.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro animate-box">
					<div class="row">
						{% if depoimentos %}
							{% for depoimento in depoimentos %}
								<div class="col-md-4 text-center">
									<div class="testimony">
										<span class="quote"><i class="icon-quotes-right"></i></span>
										<blockquote>
											<p style="font-size: 20px">{{ depoimento.texto }}</p>
											<span>{{ depoimento.name }}, via <a href="#" class="icon-facebook2 facebook-color"></a></span>
										</blockquote>
									</div>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div class="fh5co-parallax" style="background-image: url(/static/images/hero2.jpg);" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
				<div class="fh5co-intro fh5co-table-cell animate-box">
					<h1 class="text-center">We Customize Your Template</h1>
					<p>Made with love by the fine folks at <a href="http://freehtml5.co">FreeHTML5.co</a></p>
					<p><a href="#" class="btn btn-primary btn-lg">Get started</a></p>
				</div>
			</div>
		</div>
	</div>
</div>-->
{% endblock %}
