{% load static %}
<!-- START #fh5co-header -->
<header id="fh5co-header-section" role="header" class="" >
    <div class="container menu-header">
        <div class="row">
            <div class="col-md-5">
                <!-- START #fh5co-logo -->
                <h1 id="fh5co-logo" class="pull-left"><a href="{% url 'index' %}">Home</a></h1>
            </div>
            <div class="col-md-2">
                <div class="logo-menu"></div>
            </div>
            <div class="col-md-5">
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">

                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a href="{% url 'index' %}">Blog</a></li>
                        <li><a href="{% url 'about' %}">Sobre Nós</a></li>
                        <li><a href="{% url 'contato' %}">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>