{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- START #fh5co-hero -->
    <aside id="fh5co-hero" class="fh5co-hero-header-home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="fh5co-hero-wrap">
                        <!--<div class="fh5co-hero-intro">
                                <h2>Sua dose diária<span></span></h2>
                                <h1>Charmé Todo Dia</h1>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div id="fh5co-main">

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 clearfix fh5co-header">
                    <h1 class="h1 fh5co-heading fh5co-no-margin-bottom">Novidades</h1>
                    <h4 class="h5 fh5co-heading-sub">Quais são as últimas novidades da Charmé Acessórios?</h4>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="fh5co-content">
                    {% for post in novidades %}
                        <div class="row-posts">
                            <div class="row-fields-posts">
                                <h2 class="post-title">{{ post.title }}</h2>
                            </div>
                            <div class="row-fields-posts">
                                <img src="{{ post.imagem }}" width="100%" height="400px"/>
                            </div>
                            <div class="row-fields-posts">
                                <p>{{ post.body }}</p>
                            </div>
                            <!--<div class="row-post-footer">-->
                                <!--<p>Enviado por {{ post.author.name }} em {{ post.created_date|date:"d/m/y" }}</p>-->
                            <!--</div>-->
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
        </div>

    </section>
{% endblock %}