{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight">
		<ul class="slides">
		<li style="background-image: url(/static/images/slide_3.jpg);">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						<h2 class="heading-section">Blog</h2>
						<p class="fh5co-lead">Designed with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" target="_blank">FreeHTML5.co</a></p>
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-blog-section">
	<div class="container">
		<div class="row">
			{% for post in posts %}
				<div class="row-posts">
					<div class="row-fields-posts">
						<h2 class="post-title">{{ post.title }}</h2>
					</div>
					<div class="row-fields-posts">
						<img src="{{ post.imagem }}" width="100%" height="400px"/>
					</div>
					<div class="row-fields-posts">
						<p>{% autoescape off %}{{ post.body }}{% endautoescape %}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}