{% extends 'base.html' %}
{% load static %}

{% block content %}
<aside id="fh5co-hero" class="js-fullheight">
	<div class="flexslider js-fullheight" style="background: rgba(0, 0, 0, 0.4)">
		<ul class="slides">
		<li style="background-image: url({{vitrines.link_vitrine_videos}});">
			<div class="overlay-gradient"></div>
			<div class="container">
				<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
					<div class="slider-text-inner desc">
						{% if vitrines.titulo_vitrine_videos %}
							<h2 class="heading-section">{{vitrines.titulo_vitrine_videos}}</h2>
							{% if vitrines.sub_titulo_vitrine_videos %}
								<p class="fh5co-lead">{{vitrines.sub_titulo_vitrine_videos}}</p>
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</li>
		</ul>
	</div>
</aside>
<div id="fh5co-blog-section" style="margin-top: 3em">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
				<h2>Vídeos</h2>
				<p>Confira aqui os vídeos da CHARMÉ.</p>
			</div>
		</div>
			{% if videos %}
				{% if video_destaque %}
					<a href="{{video_destaque.link}}" class="video_youtube">
						<div class="row" style="text-align: center; margin-bottom: 30px;">
							<h2 style="text-align: center;">Destaque: {{video_destaque.titulo}}</h2>
							<img src="{{video_destaque.imagem_capa}}" width="640" height="360">
							<p class="video_desc">{{video_destaque.descricao}}</p>
						</div>
					</a>
				{% endif %}
			<div class="row">
				<div class="col-md-9">
					{% for video in videos %}
						{% if not video.video_destaque %}
							<a href="{{video.link}}" class="video_youtube">
								<div class="col-md-6" style="margin-bottom: 10px;">
									<h3 style="text-align: center;">{{video.titulo}}</h3>
									<img src="{{video.imagem_capa}}" width="360" height="200">
									<p class="video_desc">{{video.descricao}}</p>
								</div>
							</a>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col-md-3">
					<h3>Categorias:</h3>
					{% for category in categories %}
						<a href="{% url 'video' category.id%}"><p>{{category.name}}</p></a>
					{% endfor %}
				</div>
			</div>
			<div class="pagination">
				<span class="step-links">
					{% if videos.has_previous %}
						<a href="?page={{ videos.previous_page_number }}">Mais Recentes</a>
					{% endif %}
					<span class="current">
						Página {{ videos.number }} de {{ videos.paginator.num_pages }}
					</span>
					{% if videos.has_next %}
						<a href="?page={{ videos.next_page_number }}">Mais antigas</a>
					{% endif %}
				</span>
			</div>
		{% else %}
			<div class="row">
				<div class="col-md-12">
					<p>Não há vídeos cadastrados</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>
<div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
    </div>
  </div>
</div>
</div>
{% endblock %}